<div class="formHeader">
    <h1>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem distinctio illum, odit sed, voluptas delectus officia nemo et similique impedit autem! Laboriosam ipsa, aperiam nesciunt mollitia quas recusandae eum nostrum.
    </h1>
</div>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group"> 
    <label for="name">
      Name<span class="champsRequis">*</span>
      <input type="text" id="name" class="form-control input is-primary is-small" name="name" ngModel required>
    </label>
  </div>

  <div class="form-group"> 
    <label for="race">
      Race<span class="champsRequis">*</span>
      <input type="text" id="race" class="form-control input is-primary is-small" name="race" ngModel required>
    </label><br>
  </div>

  <div class="form-group"> 
    <label for="photoUrl">
        Photo URL<span class="champsRequis">*</span>
      <input type="url" id="photoUrl" class="form-control input is-primary is-small" name="photoUrl" ngModel required>
    </label><br>
  </div>

  <div class="form-group"> 
    <div class="birthdayForm">
      <label for="birthday">
        Birthday<span class="champsRequis">*</span>
        <input type="date" id="birthday" class="form-control input is-primary is-small" name="birthday" ngModel required>
      </label><br>
    </div>
  </div>

  <div class="buttonForm">
    <button type="submit" [disabled]="f.invalid" class="button is-success">Submit</button>
  </div>
</form>




<!--    OLD VERSION 

  HTML 


<div class="theForm">

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group"> 
      <label for="name">
        Name:
        <input type="text" formControlName="name">
      </label>
    </div>
    <div class="form-group"> 
      <label for="race">
        Race:
        <input type="text" formControlName="race">
      </label><br>
    </div>
    <div class="form-group"> 
      <label for="birthday">
        Birthday:
        <input type="date" formControlName="birthday">
      </label><br>
    </div>
    <div class="form-group"> 
      <label for="photoUrl">
          Photo URL:
        <input type="url" formControlName="photoUrl">
      </label><br>
    </div>

  </form>

  <button type="submit" [disabled]="!profileForm.valid" (click)="onSubmit()">Submit</button>

</div>




      TSSSSSSS




export class CreateKittenComponent implements OnInit {
  datas = [];
  profileForm = new FormGroup({
    name: new FormControl('', [Validators.required, Validators.minLength(1)]),
    race: new FormControl('', [Validators.required, Validators.minLength(1)]),
    birthday: new FormControl('', [Validators.required]),
    photoUrl: new FormControl('', ),
  });

  constructor( public transmissionServService: TransmissionServService ) { }

  onSubmit($event) {

    let urlForm = this.profileForm.value.photoUrl;
    let nameForm = this.profileForm.value.name;
    let raceForm = this.profileForm.value.race;
    let birthForm = this.profileForm.value.birthday;

    if ( nameForm.length >= 2 && raceForm.length >= 2) {
    this.datas.push(nameForm);
    this.datas.push(raceForm);
    this.datas.push(birthForm);
    this.datas.push(urlForm);
    console.log('oui');
    console.log(this.datas);
    } else {
      console.log('ERROR');
    }
  }

  ngOnInit() {
    this.datas = this.transmissionServService.datas;
  }

}




-->