.formHeader{
    margin-left: 10%;
    margin-right: 10%;
    h1{
        margin-top: 5%;
        text-align: center;
    }
}

form{
    padding: 10%;
    padding-top: 5%;
    .form-group{
        margin: 2%;
    }
    .champsRequis{
        color: red;
    }
    .buttonForm{
        text-align: center;
    }
}
