<div class="header">
    <img src="../../../assets/testPics/kittenbanner.jpg" alt="photo-header">
</div>
<div id="listsContainer">
    <h1>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem distinctio illum, odit sed, voluptas delectus officia nemo et similique impedit autem! Laboriosam ipsa, aperiam nesciunt mollitia quas recusandae eum nostrum.
    </h1>
    <div class="lists">
        <span class="listKitten"><app-list-kitten></app-list-kitten></span>
        <span class="listKitten"><app-user-kitten></app-user-kitten></span>
    </div>
</div>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>
